$m2-primary: (
  50 : #edeaf4,
  100 : #d1cbe4,
  200 : #b3a8d2,
  300 : #9585bf,
  400 : #7e6ab2,
  500 : #6750a4,
  600 : #5f499c,
  700 : #544092,
  800 : #4a3789,
  900 : #392778,
  A100 : #eae9ff,
  A200 : #b7b6ff,
  A400 : #8583ff,
  A700 : #6c6aff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);



$m2-accent: (
  50 : #f6f0f2,
  100 : #e9dade,
  200 : #dac1c9,
  300 : #cba8b3,
  400 : #c096a2,
  500 : #b58392,
  600 : #ae7b8a,
  700 : #a5707f,
  800 : #9d6675,
  900 : #8d5363,
  A100 : #ffffff,
  A200 : #ffe8f1,
  A400 : #ffb5d2,
  A700 : #ff9bc3,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



$m2-error: (
  50 : #e0f4ea,
  100 : #b3e5cb,
  200 : #80d3a9,
  300 : #4dc186,
  400 : #26b46c,
  500 : #00a752,
  600 : #009f4b,
  700 : #009641,
  800 : #008c38,
  900 : #007c28,
  A100 : #d9ffd8,
  A200 : #a8ffa5,
  A400 : #76ff72,
  A700 : #5eff58,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

